<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Javascript &amp; jQuery opdrachten
			</title>
		<link href="_css/site.css" rel="stylesheet">
		<script>
			
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<p class="logo">
					JavaScript & jQuery 
					<br>
					ICT-academie
				</p>
			</div>
			<div class="content">
				<div class="main">
					<h1>
						Javascript opdracht xxx
					</h1>
				</div>
			</div>
			<div class="footer">
				<p>
					JavaScript &amp; jQuery, W. van Bijnen, A. Saebu & R. Gijsbrechts, BOL 4 - opleiding tot Applicatie ontwikkelaar (2016).
				</p>
			</div>
		</div>
	</body>
</html>
