#content
{
    /* Groote */
    width: 100%;
    height: 100%;
}

#buttonStart, #buttonClick
{
    /* Positie en design type*/
    position: relative;
    display: block;
    
    /* Groote */
    width: 150px;
    height: 75px;
    
    /* Knop zonder randen*/
    border: none;
    
    /* Veranderd achtergrondskleur */
    background-color: orange;
}

#buttonStart:hover, #buttonClick:hover
{
    /* Veranderd de kleuren */
    background-color: black;
    color: orange;    
}

table, tr, td, th
{
    /* Voegt een rand toe */
    border: 1px solid black;
}