table, td
{
    border: 2px solid black;
    border-collapse: collapse;
}
tr:nth-child(1)
{
    background-color: #0094ff;
    color: white;
}

.black
{
    color: black;
}

.blue
{
    color: blue;
}